@charset "UTF-8";
/* CSS Document */

/****************/	
/*footer section*/
.footer {
	background-color: #9EB13A;
	margin-top: 0px;
	-moz-box-shadow: 0px -6px 0px #969696;
	-webkit-box-shadow: 0px -6px 0px #969696;
	box-shadow: 0px -6px 0px #969696;
}
.footerContainer {
	width: 1020px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}

.footerBox {
	height: 180px;
	float: left;
	text-transform: capitalize;
	margin-top: 16px;
	}
.footerBoxSpacer {
	height: 180px;
	float: left;
	margin-top: 16px;
	margin-bottom: 30px;
	background-color: #809130;
	width: 1px;
	margin-right: 10px;
	margin-left: 10px;
	}
.footerBox h3 {
	height: 18px;
	margin-bottom: 10px;
	color: #6C6C6C;
	display: block;
	}
.footerBox h3.selected a{
	color: #1288D5;
	}		
.footerBox ul{
	margin: 0px;
	padding: 0px;
	}	
.footerBox ul li{
	list-style-type: none;
	text-transform: capitalize;
	color: #83992B;
	}
.footerBox ul li a{
	color: #6C6C6C;
	display: block;
	margin-top: 2px;
	text-align: left;
	}
.footerBox a{
	color: #6C6C6C;
	display: block;
	margin-top: 2px;
	text-align: left;
	}
.footerBox a:hover{
	color: #fff;
	text-decoration:none;
	}
.footerBox li.selected a{
	color: #1288D5;
	}	
.email{
	text-decoration: none;
	color: #969e8d;
	font-size: 12px;
	}
.email:hover{
	text-decoration: none;
	color: #000;
	}
	
/*******************/		
/*copyright section*/
.copyright{
	font-size: 10px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	}
.copyright .left{
	text-align:left;
	width:450px;
	float:left;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	}
.copyright .right{
	width:450px;
	float:right;
	text-align: right;
	padding-top: 6px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 0px;
	}
/*end/copyright section*/
/***********************/
	
/*end/footer section*/
/********************/
/********************/
